.App {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "guide main";
    @include tablet {
        grid-template-areas: "main main";
    }
}

.Main {
    grid-area: main;
    text-align: left;
    transform: translateY(6%);
}

body {
    background-color: var(--dark-color);
}

span {
    font-weight: normal;
}

.list {
    &-stacked {
        overflow: none;
        border: none;
        max-height: 50vh;
        @include tablet {
            max-height: 60vh;
        }
    }
    &__item {
        text-align: left;
        padding-left: 2rem;
        &:hover {
            background-color: var(--dark-color);
            color: var(--secondary-color);
        }
    }
    &-item-name {
        align-self: flex-end;
    }
}

.react-icon {
    font-size: 1.5rem;
}

.fs-2 {
    font-size: 2rem;
}

.w-100{
    width: 100%;
}

.search-bar {
    min-width: 45vw;
    @include tablet {
        min-width: 41.8vw;
    }
    @include phone {
        min-width: 46vw;
    }
    @include smphone {
        min-width: 57.5vw;
    }
    &__input {
        color: var(--primary-color);
    }
}

.modal {
    &-body {
        text-align: left;
    }
    &-text {
        color: var(--gray-400);
        margin: 0.5rem 0 0.5rem 1rem;
    }
    &-input {
        font-weight: bold;
        margin-right: 0.5rem;
    }
    &-list {
        max-height: 25vh;
        &-item{
            &:hover{
                background-color: unset;
                color: unset;
            }
        }
    }
}


.show {
    display: block;
    @include tablet {
        display: none;
    }
}

.hide {
    display: none;
    @include tablet {
        display: block;
    }
}

.flex--justify_evenly {
    justify-content: space-evenly;
}