.Guide {
    position: fixed;
    left: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 100%;
    width: 16.5vw;
    grid-area: guide;
    transform: translateY(10%);
    z-index: 1;
    @include tablet {
        width: 45vw;
    }
    @include phone {
        width: 50vw;
    }
    @include smphone {
        width: 63vw;
    }
    &-list {
        margin-left: 1rem;
    }
    &-item {
        color: var(--light-color);
        &:hover {
            color: var(--secondary-color);
        }
        &-name {
            color: var(--light-color);
            margin-left: 0.7rem;
            &:hover {
                color: var(--secondary-color);
            }
        }
    }
    &-icon {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        font-size: 2rem;
        display: none;
        cursor: pointer;
        margin-right: 1rem;
        color: var(--light-color);
        @include tablet {
            display: block;
            z-index: 1;
        }
        &:hover {
            color: var(--secondary-color);
        }
    }
}

.Register {
    transform: translate(-3%, 100%);
    @include phone {
        transform: translate(-2%, 100%);
    }
}

.Login,
.SignUp {
    height: 100vh;
    &-card {
        height: 60%;
        width: 35%;
        transform: translate(-8%, -15%);
        @include tablet {
            width: 50%;
            transform: translate(-6%, -15%);
        }
        @include phone {
            width: 70%;
            transform: translate(-3%, -15%);
        }
        @include smphone {
            width: 75%;
        }
        @include vsmphone {
            width: 80%;
        }
    }
    &-badge {
        width: 90%;
        text-align: center;
    }
    &-form {
        width: 90%;
        height: 80%;
    }
}

.Login {
    height: 92vh;
}

.NavLogin {
    width: 35%;
    font-size: 2rem;
    height: 7vh;
    @include tablet {
        width: 50%;
    }
    @include phone {
        width: 70%;
    }
    @include smphone {
        width: 75%;
    }
    @include vsmphone {
        width: 80%;
    }
    &-item {
        transform: translateY(-15%);
    }
}

.input-container {
    min-width: 100%;
}
.input-error{
    margin-top: 0.5rem;
}

.disabled-btn {
    cursor: not-allowed !important;
    background-color: var(--gray-500);
}

.loader, .failed, .fulfilled{
    transform: translateY(15rem);
    font-size: 2rem;
    color: var(--light-color);
    &-like{
        transform: translate(30rem, 15rem);
    }
}

.failed {
    color: var(--red-500);
    &-like {
        transform: translate(20rem,15rem);
    }
}

.fulfilled {
    transform: translate(20rem,15rem);
}