.header {
    border-bottom: 0;
    &__wrapper {
        max-width: 90vw;
    }
    &__nav {
        width: 70vw;
        @include tablet {
            width: 20vw;
        }
        @include phone {
            width: 30vw;
        }
        @include smphone {
            width: 37vw;
        }
    }
    &__brand {
        @include phone {
            width: 30vw;
        }
        &__title {
            margin-left: 0;
        }
    }
    &__list {
        // min-width: 0;
        // max-width: 20rem;
        @include tablet {
            min-width: 23vw;
        }
        @include phone {
            min-width: 34vw;
        }
        @include smphone {
            min-width: 60vw;
        }
        &__item {
            border: none;
            &:focus {
                border: none;
                padding: 0;
            }
        }
    }
}
