.Save,.Like {
    transform: translateY(5rem);
    // height: 120vh;
    margin: 0 0.5rem 0 1rem;
    color: var(--light-color);
    &-content {
        flex-wrap: wrap;
        gap: 2rem;
    }
    &-playlist{
        &-videos{
            gap: 2rem;
            flex-wrap: wrap;
        }
    }
}