// .VideoList {
//     // width: 100%;
// }

.Videos {
    flex-wrap: wrap;
    gap: 1.5rem;
    height: 150vh;
    // width: 100%;
    align-content: flex-start;
    @include tablet {
        transform: translateY(-2%);
    }
    @include phone {
        transform: translateY(-3.7%);
    }
}

.Video {
    &-name {
        font-size: 1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &-link {
        color: var(--dark-color);
        text-decoration: none;
    }
    &-context {
        font-size: 0.9rem;
    }
    &-card {
        max-width: 25vw;
        border-radius: 0.2rem;
        background-color: var(--gray-300);
        &:hover {
            background-color: var(--light-color);
        }
        @include bigtab {
            max-width: 25vw;
        }
        @include tablet {
            max-width: 45vw;
        }
        @include phone {
            max-width: 75vw;
        }
        &__header {
            min-height: 20vh;
            border-bottom: 1px solid var(--gray-300);
        }
        &__content {
            // margin: 0.5rem 0;
            font-size: 0.8rem;
            min-height: 15vh;
        }
    }
}

// YouTube Single Page starts
.VideoSingle {
    font-weight: 300;
    height: 100%;
    display: grid;
    font-size: 1.2rem;
    color: var(--light-color);
    grid-template-columns: 2fr 1fr;
    transform: translateY(-0.1%);
    grid-template-areas: "card secondary" "info secondary";
    @include tablet {
        grid-template-areas: "card card""info info""secondary secondary";
        transform: translateY(-2.5%);
        height: 103%;
    }
    @include phone {
        font-size: 1rem;
    }
    @include smphone {
        font-size: 0.8rem;
    }
}

.YouTubeCard {
    color: var(--gray-200);
    grid-area: card;
    border-bottom: 0.5px solid var(--gray-500);
    height: 75vh;
    &-frame {
        position: relative;
        width: 100%;
        height: 100%;
        transform: translateY(2.5%);
        @include phone {
            transform: translateY(5%);
        }
    }
    &-player {
        position: absolute;
        left: 3%;
        top: 3%;
        right: 3%;
    }
    @include phone {
        height: 55vh;
    }
    @include smphone {
        height: 47vh;
    }
    &-body {
        margin: 0.7rem 0.5rem 0 0.5rem;
        width: 98%;
        height: 17vh;
    }
    &-title {
        width: 100%;
        margin-bottom: 0.7rem;
    }
    &-cta {
        display: flex;
        align-items: center;
        background-color: var(--dark-color);
        color: var(--light-color);
        padding: 0;
        &:hover{
            color: var(--secondary-color);
        }
        @include tablet {
            font-size: 0.9rem;
        }
        @include phone {
            font-size: 0.8rem;
        }
    }
    &-icon {
        font-size: 1.5rem;
        @include phone {
            font-size: 1.3rem;
        }
        @include smphone {
            font-size: 1.1rem;
        }
    }
    &-content {
        width: 100%;
        &__right {
            width: 20vw;
            @include tablet {
                width: 35vw;
            }
            @include phone {
                width: 45vw;
            }
        }
    }
}

.YouTubeInfo {
    grid-area: info;
    &-image {
        width: 4rem;
        height: 4rem;
        margin: 0.5rem;
        @include phone {
            width: 3.5rem;
            height: 3.5rem;
        }
        @include smphone {
            width: 3rem;
            height: 3rem;
        }
    }
    &-desc {
        font-size: 1rem;
        margin-top: 0.5rem;
        color: var(--gray-300);
        @include tablet {
            font-size: 0.9rem;
        }
    }
}

.YouTubeSecondary {
    grid-area: secondary;
    transform: translateY(5%);
    @include tablet {
        transform: translateY(0);
    }
    &-card {
        margin-bottom: 0.5rem;
        background-color: var(--dark-color);
        color: var(--gray-300);
        max-width: 100%;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
            background-color: var(--gray-500);
            color: var(--light-color)
        }
        @include phone {
            font-size: 0.8rem;
        }
        &-name {
            font-size: 0.9rem;
            color: var(--gray-200);
        }
        &-header {
            max-width: 47%;
        }
        &-content {
            max-width: 50%;
        }
    }
}