.Guide {
  position: fixed;
  left: 0;
  background-color: var(--dark-color);
  color: var(--light-color);
  height: 100%;
  width: 16.5vw;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: guide;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
  z-index: 1;
}

@media only screen and (max-width: 750px) {
  .Guide {
    width: 45vw;
  }
}

@media only screen and (max-width: 500px) {
  .Guide {
    width: 50vw;
  }
}

@media only screen and (max-width: 390px) {
  .Guide {
    width: 63vw;
  }
}

.Guide-list {
  margin-left: 1rem;
}

.Guide-item {
  color: var(--light-color);
}

.Guide-item:hover {
  color: var(--secondary-color);
}

.Guide-item-name {
  color: var(--light-color);
  margin-left: 0.7rem;
}

.Guide-item-name:hover {
  color: var(--secondary-color);
}

.Guide-icon {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  font-size: 2rem;
  display: none;
  cursor: pointer;
  margin-right: 1rem;
  color: var(--light-color);
}

@media only screen and (max-width: 750px) {
  .Guide-icon {
    display: block;
    z-index: 1;
  }
}

.Guide-icon:hover {
  color: var(--secondary-color);
}

.Register {
  -webkit-transform: translate(-3%, 100%);
          transform: translate(-3%, 100%);
}

@media only screen and (max-width: 500px) {
  .Register {
    -webkit-transform: translate(-2%, 100%);
            transform: translate(-2%, 100%);
  }
}

.Login,
.SignUp {
  height: 100vh;
}

.Login-card,
.SignUp-card {
  height: 60%;
  width: 35%;
  -webkit-transform: translate(-8%, -15%);
          transform: translate(-8%, -15%);
}

@media only screen and (max-width: 750px) {
  .Login-card,
  .SignUp-card {
    width: 50%;
    -webkit-transform: translate(-6%, -15%);
            transform: translate(-6%, -15%);
  }
}

@media only screen and (max-width: 500px) {
  .Login-card,
  .SignUp-card {
    width: 70%;
    -webkit-transform: translate(-3%, -15%);
            transform: translate(-3%, -15%);
  }
}

@media only screen and (max-width: 390px) {
  .Login-card,
  .SignUp-card {
    width: 75%;
  }
}

@media only screen and (max-width: 345px) {
  .Login-card,
  .SignUp-card {
    width: 80%;
  }
}

.Login-badge,
.SignUp-badge {
  width: 90%;
  text-align: center;
}

.Login-form,
.SignUp-form {
  width: 90%;
  height: 80%;
}

.Login {
  height: 92vh;
}

.NavLogin {
  width: 35%;
  font-size: 2rem;
  height: 7vh;
}

@media only screen and (max-width: 750px) {
  .NavLogin {
    width: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .NavLogin {
    width: 70%;
  }
}

@media only screen and (max-width: 390px) {
  .NavLogin {
    width: 75%;
  }
}

@media only screen and (max-width: 345px) {
  .NavLogin {
    width: 80%;
  }
}

.NavLogin-item {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}

.input-container {
  min-width: 100%;
}

.loader, .failed, .fulfilled {
  -webkit-transform: translateY(15rem);
          transform: translateY(15rem);
  font-size: 2rem;
  color: var(--light-color);
}

.loader-like, .failed-like, .fulfilled-like {
  -webkit-transform: translate(30rem, 15rem);
          transform: translate(30rem, 15rem);
}

.failed {
  color: var(--red-500);
}

.failed-like {
  -webkit-transform: translate(20rem, 15rem);
          transform: translate(20rem, 15rem);
}

.fulfilled {
  -webkit-transform: translate(20rem, 15rem);
          transform: translate(20rem, 15rem);
}

.header {
  border-bottom: 0;
}

.header__wrapper {
  max-width: 90vw;
}

.header__nav {
  width: 70vw;
}

@media only screen and (max-width: 750px) {
  .header__nav {
    width: 20vw;
  }
}

@media only screen and (max-width: 500px) {
  .header__nav {
    width: 30vw;
  }
}

@media only screen and (max-width: 390px) {
  .header__nav {
    width: 35vw;
  }
}

@media only screen and (max-width: 500px) {
  .header__brand {
    width: 30vw;
  }
}

.header__brand__title {
  margin-left: 0;
}

.header__list {
  min-width: 0;
  max-width: 10rem;
}

@media only screen and (max-width: 750px) {
  .header__list {
    min-width: 20vw;
  }
}

@media only screen and (max-width: 500px) {
  .header__list {
    min-width: 30vw;
  }
}

@media only screen and (max-width: 390px) {
  .header__list {
    min-width: 35vw;
  }
}

.header__list__item {
  border: none;
}

.header__list__item:focus {
  border: none;
  padding: 0;
}

.Videos {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  height: 150vh;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 750px) {
  .Videos {
    -webkit-transform: translateY(-2%);
            transform: translateY(-2%);
  }
}

@media only screen and (max-width: 500px) {
  .Videos {
    -webkit-transform: translateY(-3.7%);
            transform: translateY(-3.7%);
  }
}

.Video-name {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.Video-link {
  color: var(--dark-color);
  text-decoration: none;
}

.Video-context {
  font-size: 0.9rem;
}

.Video-card {
  max-width: 25vw;
  border-radius: 0.2rem;
  background-color: var(--gray-300);
}

.Video-card:hover {
  background-color: var(--light-color);
}

@media only screen and (max-width: 1250px) {
  .Video-card {
    max-width: 25vw;
  }
}

@media only screen and (max-width: 750px) {
  .Video-card {
    max-width: 45vw;
  }
}

@media only screen and (max-width: 500px) {
  .Video-card {
    max-width: 75vw;
  }
}

.Video-card__header {
  min-height: 20vh;
  border-bottom: 1px solid var(--gray-300);
}

.Video-card__content {
  font-size: 0.8rem;
  min-height: 15vh;
}

.VideoSingle {
  font-weight: 300;
  height: 100%;
  display: -ms-grid;
  display: grid;
  font-size: 1.2rem;
  color: var(--light-color);
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-transform: translateY(-0.1%);
          transform: translateY(-0.1%);
      grid-template-areas: "card secondary" "info secondary";
}

@media only screen and (max-width: 750px) {
  .VideoSingle {
        grid-template-areas: "card card" "info info" "secondary secondary";
    -webkit-transform: translateY(-2.5%);
            transform: translateY(-2.5%);
    height: 103%;
  }
}

@media only screen and (max-width: 500px) {
  .VideoSingle {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 390px) {
  .VideoSingle {
    font-size: 0.8rem;
  }
}

.YouTubeCard {
  color: var(--gray-200);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card;
  border-bottom: 0.5px solid var(--gray-500);
  height: 75vh;
}

.YouTubeCard-frame {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(2.5%);
          transform: translateY(2.5%);
}

@media only screen and (max-width: 500px) {
  .YouTubeCard-frame {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
}

.YouTubeCard-player {
  position: absolute;
  left: 3%;
  top: 3%;
  right: 3%;
}

@media only screen and (max-width: 500px) {
  .YouTubeCard {
    height: 55vh;
  }
}

@media only screen and (max-width: 390px) {
  .YouTubeCard {
    height: 47vh;
  }
}

.YouTubeCard-body {
  margin: 0.7rem 0.5rem 0 0.5rem;
  width: 98%;
  height: 17vh;
}

.YouTubeCard-title {
  width: 100%;
  margin-bottom: 0.7rem;
}

.YouTubeCard-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0;
}

.YouTubeCard-cta:hover {
  color: var(--secondary-color);
}

@media only screen and (max-width: 750px) {
  .YouTubeCard-cta {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 500px) {
  .YouTubeCard-cta {
    font-size: 0.8rem;
  }
}

.YouTubeCard-icon {
  font-size: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .YouTubeCard-icon {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 390px) {
  .YouTubeCard-icon {
    font-size: 1.1rem;
  }
}

.YouTubeCard-content {
  width: 100%;
}

.YouTubeCard-content__right {
  width: 20vw;
}

@media only screen and (max-width: 750px) {
  .YouTubeCard-content__right {
    width: 35vw;
  }
}

@media only screen and (max-width: 500px) {
  .YouTubeCard-content__right {
    width: 45vw;
  }
}

.YouTubeInfo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info;
}

.YouTubeInfo-image {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem;
}

@media only screen and (max-width: 500px) {
  .YouTubeInfo-image {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .YouTubeInfo-image {
    width: 3rem;
    height: 3rem;
  }
}

.YouTubeInfo-desc {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: var(--gray-300);
}

@media only screen and (max-width: 750px) {
  .YouTubeInfo-desc {
    font-size: 0.9rem;
  }
}

.YouTubeSecondary {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: secondary;
  -webkit-transform: translateY(2.5%);
          transform: translateY(2.5%);
}

@media only screen and (max-width: 750px) {
  .YouTubeSecondary {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.YouTubeSecondary-card {
  margin-bottom: 0.5rem;
  background-color: var(--dark-color);
  color: var(--gray-300);
  max-width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

.YouTubeSecondary-card:hover {
  background-color: var(--gray-500);
  color: var(--light-color);
}

@media only screen and (max-width: 500px) {
  .YouTubeSecondary-card {
    font-size: 0.8rem;
  }
}

.YouTubeSecondary-card-name {
  font-size: 0.9rem;
  color: var(--gray-200);
}

.YouTubeSecondary-card-header {
  max-width: 47%;
}

.YouTubeSecondary-card-creator, .YouTubeSecondary-card-views {
  font-size: 0.8rem;
}

.YouTubeSecondary-card-content {
  max-width: 50%;
}

.Save, .Like {
  -webkit-transform: translateY(5rem);
          transform: translateY(5rem);
  margin: 0 0.5rem 0 1rem;
  color: var(--light-color);
}

.Save-content, .Like-content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.Save-playlist-videos, .Like-playlist-videos {
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.App {
  height: inherit;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
      grid-template-areas: "guide main";
}

@media only screen and (max-width: 750px) {
  .App {
        grid-template-areas: "main main";
  }
}

.Main {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: main;
  text-align: left;
  -webkit-transform: translateY(6%);
          transform: translateY(6%);
}

body {
  background-color: var(--dark-color);
}

span {
  font-weight: normal;
}

.list-stacked {
  overflow: none;
  border: none;
  max-height: 50vh;
}

@media only screen and (max-width: 750px) {
  .list-stacked {
    max-height: 60vh;
  }
}

.list__item {
  text-align: left;
  padding-left: 2rem;
}

.list__item:hover {
  background-color: var(--dark-color);
  color: var(--secondary-color);
}

.list-item-name {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.react-icon {
  font-size: 1.5rem;
}

.fs-2 {
  font-size: 2rem;
}

.w-100 {
  width: 100%;
}

.search-bar {
  min-width: 45vw;
}

@media only screen and (max-width: 750px) {
  .search-bar {
    min-width: 41.8vw;
  }
}

@media only screen and (max-width: 500px) {
  .search-bar {
    min-width: 46vw;
  }
}

@media only screen and (max-width: 390px) {
  .search-bar {
    min-width: 57.5vw;
  }
}

.search-bar__input {
  color: var(--primary-color);
}

.modal-body {
  text-align: left;
}

.modal-text {
  color: var(--gray-400);
  margin: 0.5rem 0 0.5rem 1rem;
}

.modal-input {
  font-weight: bold;
  margin-right: 0.5rem;
}

.modal-list {
  max-height: 25vh;
}

.modal-list-item:hover {
  background-color: unset;
  color: unset;
}

.show {
  display: block;
}

@media only screen and (max-width: 750px) {
  .show {
    display: none;
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 750px) {
  .hide {
    display: block;
  }
}

.flex--justify_evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
/*# sourceMappingURL=styles.css.map */